body {
  background-color: #f5f5f5;
}

#clock {
  width: 70vw;
  height: 70vh;
  margin: 15vh auto 5vh;
  padding: 25px;
}

.clock-paused {
  background-color: #f57170;
}

.clock-study {
  background-color: #10ddc2;
}

.clock-break {
  background-color: #15b7b9;
}

.btnRow {
  justify-content: center;
  align-items: center;
}

.fas {
  margin: 0 1rem;
  cursor: pointer;
}

.timeLength {
  width: 4rem;
  justify-content: center;
}
