#clock {
  width: 70vw;
  height: 70vh;
  margin: 15vh auto 5vh;
  padding: 25px;
}

.clock-paused {
  background-color: red;
}

.clock-study {
  background-color: blue;
}

.clock-break {
  background-color: green;
}

.btnRow {
  justify-content: center;
  align-items: center;
}

.fas {
  margin: 0 1rem;
  cursor: pointer;
}

.timeLength {
  width: 4rem;
  justify-content: center;
}
